/* Nastavitve pisave za elemente s class="pisavca" */
.pisavca{
  font-family: "Open Sans", sans-serif;   /* uporaba Open Sans pisave */
  font-optical-sizing: auto;              /* optimizacija pisave */
  font-weight: 600;                       
  font-style: normal;
  font-variation-settings:"wdth" 100;     /* širina pisave */
}


body {
    margin: 0;
    font-family: sans-serif;

    display: flex;                        /* omogoča centriranje elementov */
    align-items: center;                  /* navpično centriranje */
    height: 100vh;                        /* višina celotnega okna */
	color: #fff;
	justify-content: center;              /* centrira */
	background: #900;                      /* osnovna barva rdeca */
    background: radial-gradient(          /* radialni preliv */
        circle,
        rgba(153, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 86%,
        rgba(0, 0, 0, 1) 100%
    );
}


.have-account{
	text-decoration: none;
    color: #900;
    font-weight: bold;
}


.vse{
	display: flex;
    flex-direction: column;                /* elementi en pod drugim */
    align-items: center;                   /* centrirani */
    margin-left: 5vw;                      /* premik v desno */
}


.logo{
	margin-left:20px;
	margin-top:10px;
	padding-top:40px;
	background: url('../img/logo.png');
	background-repeat:no-repeat;
}


.head{
	width: 400px;
    height: 185px;
    background-color: #990A2C;             /* rdeče ozadje */
    color: #fff;
    background-image: url('../img/head.png'); /* slika v ozadju */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;          /* zaobljeni robovi zgoraj */
    border-top-right-radius: 10px;
}


.head a{
	color: #FBBA00;
}


.head h2{
	margin-left:20px;
}
.head p{
	margin-left:20px;
}


.Sign-up {
    background: rgba(255, 255, 255, 0.95); /*  belo ozadje */
    width: 340px;
    padding: 30px;
    border-bottom-left-radius: 8px;             /* spodnji zaobljeni rob */
    border-bottom-right-radius: 8px;             /* spodnji zaobljeni rob */
    color: #000;
    margin: auto;
    /*max-height: 60vh;                      /* največja višina */
   /* overflow-y: auto;                      /* scrollbar, če je preveč vsebine */
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
	border-radius: 5px;
    border: 0;
    font-size: 15px;
}


select{
	width: 107%;                            
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
}


.con{
	width: 100%;
    padding: 12px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
	transform: skew(-15deg);               /* nagib gumba */
	text-align: center;
}


.policy{
	text-decoration: none;
    font-weight: bold;
    font-size: 11px;
	margin-bottom:50px;
}


.news {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;                              /* razmik med elementi */
    margin: 10px 0 16px 0;                 /* zgoraj, desno, spodaj, levo */
    text-align: left;
}

.inputs{
	font-size:11px;
	font-weight: normal;
}


.kvadrat {
  width: 18px;
  height: 18px;
  margin: 0;
}
